pyrogram>=2.0.106
tgcrypto
pymongo[srv]==4.15.3
motor==3.7.1
#motor==3.3.1
#pymongo==4.3.0

marshmallow==4.0.1
umongo==3.1.0
requests==2.32.5
beautifulsoup4==4.12.2
cinemagoer==2023.05.01
#Heroku3==0.1.0
heroku3==5.2.1

search_engine_parser==1.2.0
wget==3.2
aiofiles==23.1.0
ffmpeg
youtube_search==1.0.0
youtube-search-python==1.4.6
yt-dlp==2025.10.21
youtube-dl==2025.10.21
aiohttp==3.8.5
gTTS==2.3.0
googletrans==4.0.0-rc1
telegraph==0.0.5
PyPDF2==3.0.1
ujson==5.7.0
pyshorteners==1.0.1
countryinfo==0.1.0
pytz==2023.3
python-math==3.9.1
psutil==5.9.5
speedtest-cli==2.1.0
openai==0.27.8
humanize==4.8.0

python-dotenv==1.0.0
python-telegram-bot==20.3
pillow==10.0.0
doodstream==1.0.0
unshortenit==1.0.0
mdisky==1.0.0
python-decouple==3.7
ffmpeg-python>=0.2.0
ytthumb==1.0.0
YoutubeTags==1.0.0
dnspython==2.4.2
sqlalchemy==2.0.20
